body {
  font-family: Arial;
  font-size: 12pt;
}

.comment {
  padding-left: 5px;
  margin: 25px 0;
}

.comment p {
  margin: 10px 0;
}

.comment-author, .comment-score {
  font-size: 11px;
  margin: 2px 0;
}

.negative-score {
  color: #b81616;
  font-weight: 800;
}

.positive-score {
  color: #0b7a30;
  font-weight: 600;
}

.is-op {
  font-weight: 800;
  color: #2754b0;
}

/*.comment-level-base, */.comment-level-1 {
  border-left: 2px solid #2754b0;
}

.comment-level-2 {
  border-left: 2px solid #2ab890
}

.comment-level-3 {
  border-left: 2px solid #9eb82a
}

.comment-level-4 {
  border-left: 2px solid #cf7129
}

.comment-level-0 {
  border-left: 2px solid #b82a86
}

blockquote {
  font-style: italic;
  margin: 20px;
  border-left: 6px solid #bbb;
  padding-left: 3px;
}

/* for PDF formatting */
@media print {
  a::after {
    content: " (" attr(href) ") ";
  }
  pre {
    white-space: pre-wrap;
  }
  @page {
    margin: 0.75in;
    size: Letter;
    @top-right {
      content: counter(page);
    }
  }
  @page :first {
    @top-right {
      content: "";
    }
  }
  .comment {
    break-inside: avoid;  /* so comments aren't split across pages in the PDF */
  }
}
